{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Amazon{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/eye_toggle.css' %}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}

  {% block extra_js %}<script src="{% static 'js/eye_toggle.js' %}"></script>{% endblock %}
</body>
</html>
